<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{{ url_for('show_madlib')}}"">
        <p>Please input words for madlib</p>
        <label for="person">Person</label>
        <input type="text" id="person" name="person">
        <label for="color">Color:</label>
        <select id="color" name="color">
            <option value="red">Red</option>
            <option value="orange">Orange</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="indigo">Indigo</option>
            <option value="violet">Violet</option>
        </select>
        <label for="noun">Noun</label>
        <input type="text" id="noun" name="noun">
        <label for="adjective">Adjective</label>
        <input type="text" id="adjective" name="adjective">
        <input type="submit" value="Submit">
    </form>
</body>
</html>